SOURCE_STORAGE_ACCOUNT=landingbeca2026jan
TARGET_STORAGE_ACCOUNT=grupo4storage
# Adicione suas chaves aqui para execução local (NÃO COMITAR ARQUIVO .env REAL)
# FS_AZURE_ACCOUNT_KEY_LANDINGBECA2026JAN_DFS_CORE_WINDOWS_NET=sua_chave_aqui
# FS_AZURE_ACCOUNT_KEY_GRUPO4STORAGE_DFS_CORE_WINDOWS_NET=sua_chave_aqui
